<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Manual Install Success</h1>
    <button id="seed">Seed DB</button>
    <button id="export">Export DB</button>
    <script>
      const seedButton = document.querySelector("#seed")!;
      const exportButton = document.querySelector("#export")!;
      import { getDatabaseService } from "../components/db/db";
      import { seedDB } from "../components/db/seed";
      import { createViews } from "../components/db/views/index";
      seedButton.addEventListener("click", async () => {
        const start = performance.now();
        const db = await getDatabaseService();
        await seedDB();
        await createViews();
        db.close();
        const end = performance.now();
        console.log(`Database reseeded in ${end - start}ms`);
      });
      exportButton.addEventListener("click", async () => {
        const start = performance.now();
        const db = await getDatabaseService();
        await db.export();
        db.close();
        const end = performance.now();
        console.log(`Database exported in ${end - start}ms`);
      });
    </script>
  </body>
</html>
